@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-gray-400;
  }

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
}

@layer components {
  .headerLink {
    @apply cursor-pointer text-lg font-light text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }

  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }

  .input {
    @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }

  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition
   hover:border-white hover:bg-white/10;
  }

  .membershipLink {
    @apply cursor-pointer text-blue-500 hover:underline;
  }

  .planBox {
    @apply relative mx-1.5 flex h-20 w-[calc(100%/3)] cursor-default items-center justify-center rounded-sm bg-[#e50914] font-semibold 
    shadow after:absolute after:top-full after:left-1/2 after:block after:-translate-x-1/2 after:border-8 after:border-b-0 after:border-transparent
    after:border-t-[#e50914] after:content-[""] md:h-32 lg:mx-8;
  }

  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }

  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }

  .tableDataFeature {
    @apply w-[calc(100%/3)] p-2.5 text-center md:w-[calc(60%/3)] md:p-3.5;
  }

  .brand {
    @apply flex relative w-52 h-32 sm:w-64 sm:h-36 border-[3px] border-[#f9f9f9] border-opacity-10 rounded-lg cursor-pointer shadow-xl 
    overflow-hidden hover:border-opacity-80 hover:shadow-2xl transform hover:scale-105 transition duration-300;
  }

  /* MUI MENU */
  .menu {
    @apply md:hidden;
  }

  .menu .MuiPaper-root {
    @apply !absolute !left-0 !rounded-none !border !border-[gray] !bg-black !text-white;
  }

  .menu .MuiList-root {
    @apply !p-0;
  }

  .menu .MuiMenuItem-root {
    @apply !block !w-72 !py-3.5 !text-center !text-sm !font-light !text-[#b3b3b3] !transition 
    !duration-200 first:!cursor-default first:!font-normal first:!text-white hover:!bg-[#11100F];
  }

  #btnLeft:active {
    @apply bg-[#ccc] rounded-full;
  }

  #btnSearch:active {
    @apply bg-gray-500 rounded-full;
  }

  .flex4 {
    flex: 4;
  }

  #sidebarListItem.active {
    background-color: #e8f0fe;
    color: rgb(25, 103, 210);
  }

  .contain-style {
    contain: style;
  }

  .non-text-decoration {
    text-decoration: none;
  }

  .will-change {
    will-change: transform, opacity;
  }

  .box-inherit {
    box-sizing: inherit;
  }

  .transition-liner {
    transition: opacity 250ms linear;
  }

  .transition-ease {
    transition: transform 250ms ease, -webkit-transform 250ms ease;
  }

  .max-w-inherit {
    max-width: inherit;
  }

  .justify-content-inherit {
    justify-content: inherit;
  }

  .direction {
    direction: rtl;
  }

  .w-unset {
    width: unset;
  }

  .visibility-inherit {
    visibility: inherit;
  }

  .options {
    @apply bg-white font-normal text-base;
  }

  .PaySelectBox::before,
  .PaySelectBox::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    z-index: 0;
    transition: 0.28s ease;
    border: 2px solid #3c3c3c;
    border-radius: 50%;
    background-color: #e5e7eb;
  }

  .PaySelectBox.active::before {
    border: 2px solid #ff6500;
  }

  .PaySelectBox.active::after {
    background-color: #ff6500;
    transform: scale(0.7);
  }

  .PaySelect__Input::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-bottom: 2px solid #555;
    border-right: 2px solid #555;
    transform: rotate(45deg);
    right: 16px;
    top: 30%;
    height: 12px;
    width: 12px;
  }

  .Payment-method-add::before {
    content: "+";
    padding-right: 6px;
  }

  .Single-option-form-selector::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }

  .status {
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: right;
    line-height: 1.5em;
    width: auto;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 11px;
    font-weight: 500;
    height: auto;
    background: yellow;
    background-image: linear-gradient(
      to bottom,
      rgba(235, 20, 54, 0.9) 0,
      rgba(123, 67, 151, 0.9) 100%
    );
    color: #fff;
    z-index: 1;
    transition: 0.7s;
  }

  .avt-camera {
    background-image: url(https://www.gstatic.com/images/icons/material/system/2x/photo_camera_white_24dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    height: 100%;
    opacity: 0.8;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
  }

  .section .color {
    position: absolute;
    filter: blur(150px);
  }

  .section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff359b;
  }

  .section .color:nth-child(2) {
    top: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #fffd87;
  }

  .section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: #00d2ff;
  }

  .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    /* animate-delay: calc(-1s * var(--i)); */
  }

  @keyframes animate {
    0%,
    100% {
      transform: translateY(-40px);
    }
    50% {
      transform: translateY(40px);
    }
  }

  .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
  }

  .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
  }

  .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
  }

  .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
  }

  .square:nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
  }

  .containerForm {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
  }

  .form h2 {
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }

  .form h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
  }

  .form .inputBox {
    width: 100%;
    margin-top: 20px;
  }

  .form .inputBox input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 0.05);
  }

  .form .inputBox input::placeholder {
    color: #666;
  }

  .forget {
    margin-top: 5px;
    color: #666;
  }

  .forget a {
    color: #666;
    font-weight: 600;
    text-decoration: underline;
  }
}
